.mapbox-logo,
.leaflet-control-attribution {
    display: none;
}

body {
    font-family: 'Futura', sans-serif;
    color: #1e1e1e;
}

p {
    font-family: 'Futura', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #1e1e1e;
}

a {
    color: #003580;
    font-weight: bold;
}

a:hover {
    opacity: .75;
}

.calendar {
    position: fixed;
    top: 0;
    width: 500px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.90);
    margin: auto;
    z-index: 1000;
    text-align: center;
    left: 50%;
    margin-left: -250px;
    overflow-x: auto;
}

.calendar-title {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 2px;
    border-bottom: 2px solid #1e1e1e;
}

.calendar-activity {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 10px 0 0 0;
}

.calendar-body {
    font-size: 13px;
}

.calendar-place {
    font-weight: 600;
    color: #d5a747;
}

.calendar-place:hover {
    color: rgba(213, 167, 71, 0.75);
    cursor: pointer;
}

.map-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    padding: 7px 0 0 7px;
    background: rgba(255, 255, 255, 0.90);
    z-index: 1000;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 600;
}

.comtainer {
    border: 2px solid rgba(213, 167, 71, 0.8);
}

.icon:hover {
    opacity: .7;
}


/* TOOLTIP */

.leaflet-tooltip {
    font-family: 'Futura', sans-serif;
    border-radius: 4px;
}

.leaflet-tooltip-container {
    display: none;
}

.tooltip-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 4px;
}

.tooltip-sub {
    font-size: 13px;
    padding-bottom: 4px;
}
