.mapbox-logo,
.leaflet-control-attribution {
    display: none;
}

body {
    font-family: 'brandon-grotesque', sans-serif;
    color: #1e1e1e;
}

p {
    font-family: 'brandon-grotesque', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #1e1e1e;
}

a {
    color: #d5a747;
    font-weight: bold;
}

a:hover {
    opacity: .75;
}


.calendar-container {}


.grid.calendar {
    position: absolute;
    display: inline-block;
    top: 0;
    width: 640px;
    height: 206px;
    background: #fff;
    z-index: 650;
    text-align: center;
}

.calendar-title {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 2px;
    border-bottom: 2px solid #1e1e1e;
}

.calendar-activity {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 0 0 0;
}

.calendar-body {
    font-size: 15px;
}

.calendar-place {
    font-weight: 700;
    color: #d5a747;
}

.calendar-place:hover {
    color: rgba(213, 167, 71, 0.75);
    cursor: pointer;
}

.legend {
    text-align: left;
    padding-left: 6px;
}

.legend-name {
    font-size: 11px;
}

.legend-icon {
    margin-top: 2px;
    height: 16px;
}

.right-icon {
    padding-right: 164px;
}


.legend-graph {
    padding-top: 30px;
    padding-left: 12px;
}

.map-title {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 320px;
    padding: 7px 0 0 7px;
    background: rgba(255, 255, 255, 0.92);
    z-index: 1000;
}

.map-container {
    position: fixed;
    width: 100%;
    top: 206px;
    bottom: 0;
    left: 0;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 600;
}

.icon:hover {
    opacity: .7;
}


/* TOOLTIP */

.leaflet-popup {
    font-family: 'brandon-grotesque', sans-serif;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-content {
    background: rgba(255, 255, 255, 0.92);
    border-radius: 0 !important;
    z-index: 1000;
}

.leaflet-popup-content {
    max-width: 800px !important;
}

.leaflet-popup-content-wrapper {}

p.tooltip-title {
    font-family: 'brandon-grotesque', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 16px 0 6px 0;
}

a.tooltip-link {
    color: #d5a747;
}


p.tooltip-body {
    margin: 6px 0;
}

svg.icon.popup-link {
    font-size: 20px;
    font-weight: 600;
    color: #d5a747;
    display: inline;
    margin-bottom: -5px;
}

@media screen and (max-width: 630px) {
    .grid.calendar {
        width: 100%;
    }

    .right-icon {
        padding-right: 80px;
    }

}

@media screen and (max-width: 558px) {
    .grid.calendar {
        width: 100%;
        height: 238px;
    }

    .map-container {
        top: 238px;
    }
}

@media screen and (max-width: 480px) {

    .calendar-title {
        font-size: 14px;
    }

    .calendar-activity {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 10px 0 0 0;
    }

    .calendar-body {
        font-size: 12px;
    }

    p {
        line-height: 16px;
    }

    .right-icon {
        padding-right: 14px;
    }

    .legend-graph {
        padding-top: 0px;
        padding-left: 12px;
        padding-right: 5px;
    }


    .map-title {
        width: 100%;
    }

    .grid.calendar {
        width: 100%;
        height: 239px;
    }

    .map-container {
        top: 239px;
    }

    .legend-icon {
        height: 14px;
    }

}
